<!DOCTYPE html xmlns:fb="https://www.facebook.com/2008/fbml">
<html>
  <head>
    <title>NameThat</title>
    <%= javascript_include_tag :all %>
    <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'print.css', :media => 'print' %>
    <!--[if IE]><%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %><![endif]-->
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="header-background"></div>
    <div id="wrapper">
      <div id="header">
        <%= link_to "NameThat", root_path ,{ :class => "title" } %>
        <div class="nav">
          <%= link_to "About", about_path %>
        </div>
      </div>
      <div id="body">
        <%= yield %>
      </div>
      <div id="footer">
        <%= link_to "Privacy", privacy_path %>
        <%= link_to "Terms", terms_path %>
      </div>
    </div>
  </body>
</html>
